@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: lightgray;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    background-color: white;
    width: 80vw;
    padding: 10px;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.342);
}
main > h1{
    text-align: center;
    padding: 10px;
}
#botao{
    text-align: center;
}
input{
    padding: 10px;
    margin: 20px;
    box-shadow: 1px 1px 2px #0000005b;
    background-color: rgb(182, 181, 181);
    border-radius: 10px;
    border: none;
}
input:hover{
    background-color: rgb(107, 106, 106);
    transition: .5s;
    cursor: pointer;
}
.conteiner{
    background-color: aquamarine;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 70vw;
    height: 80px;
}
.item{
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.541);
    font-weight: bold;
    width: 20vw;
}
