@charset "UTF-8";

:root{
    --cor1: #F2D5E5;
    --cor2: #F2CEE6;
    --cor3: #F2F0F2;
    --cor4: #BBDDF2;
    --cor5: #595959;
}

*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    background-color: var(--cor2);
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    background-color: white;
    padding: 20px;
    width: 80vw;
    text-align: center;
    border-radius: 20px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.349);
}
h1{
    color: var(--cor5);
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.473);
}
.conteiner{
    display: grid;
    width: 100px;
    grid-template-columns: repeat(3, 70px);
    justify-content: center;
    align-content: center;
    grid-template-rows: repeat(3, 70px);
    gap: 20px 20px;
    margin: 20px auto;
}
.item{
    background-color: var(--cor2);
    cursor: pointer;
    color: var(--cor4);
    font-weight: bolder;
    font-size: 2em;
    display: flex;
    justify-content: center;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.466);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.171);
    border-radius: 10px;
    align-items: center;

}

input{
    padding: 10px;
    border: none;
    cursor: pointer;
    margin: 20px;
    border-radius: 10px;
    background-color: var(--cor1);
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.349);
    color: var(--cor5);
    font-weight: bold;
}
#res{
    color: var(--cor5);
    font-weight: bold;
    height: 20px;
}